In [1]:
import pandas as pd
import numpy as np

In [51]:
emissions = pd.read_excel(r'/Users/ssureen/Downloads/CO2 Emissions by London Borough/carbon-emissions-borough.xls',
                          sheet_name='TOTAL',
                          header=1
                          )

In [53]:
emissions.drop(0, inplace=True)
emissions.drop(columns=['Code'], inplace=True)
emissions.dropna(inplace=True)

In [54]:
emissions

,Name,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2005.6,2006.6,2007.6,2008.6,2009.6,2010.6,2011.6,2012.6,2013.6,2014.6
1,City of London,1546.381669,1679.706582,1580.466758,1603.958736,1402.027918,1554.734654,1317.152609,1461.040299,1344.208313,...,228.878818,243.356976,218.936877,226.639766,197.586608,222.185954,187.349845,201.597642,184.966847,128.358444
2,Barking and Dagenham,396.223474,397.953470,400.882366,399.142772,344.520522,379.972376,330.862589,355.103504,333.448671,...,5.600614,5.602127,5.473062,5.238514,4.606023,4.769989,4.191221,4.303707,4.063282,3.246635
3,Barnet,460.475157,471.990440,442.357543,453.078514,403.114225,426.388167,382.868508,402.606210,384.315022,...,5.385460,5.371425,5.131500,5.106323,4.577371,4.763128,4.190719,4.362576,4.209762,3.774475
4,Bexley,485.075284,481.774032,451.324512,450.499588,397.298485,423.777794,384.494893,409.052128,394.254654,...,5.778120,5.682690,5.421267,5.329216,4.810446,4.994644,4.459512,4.689267,4.497897,4.063207
5,Brent,542.962594,521.416652,545.305836,602.324528,523.885058,464.952868,411.744518,571.269533,546.374334,...,5.270528,5.053311,4.946347,4.952331,4.345698,4.228279,3.671860,4.279672,4.099577,3.663380
6,Bromley,378.701041,425.001837,375.555220,365.200222,330.554766,339.538266,307.189773,333.781994,316.461573,...,5.236961,5.328328,5.034856,4.939084,4.504767,4.664042,4.182835,4.389513,4.224489,3.672211
7,Camden,1079.344980,1200.381265,1159.062679,1133.293265,1004.509243,1064.258084,970.483054,1057.979191,1011.034436,...,7.975571,8.539179,8.272629,8.188466,7.302501,7.613450,6.744002,7.086757,6.681067,5.485799
8,Croydon,573.177289,553.762018,522.595072,526.009580,464.176505,484.989048,434.370083,473.797861,436.111662,...,5.207380,5.090543,4.883139,4.779637,4.278140,4.405715,3.904806,4.112841,3.921540,3.290308
9,Ealing,614.380588,660.372924,681.875161,685.595127,612.664511,629.289868,599.321904,668.477143,655.181246,...,5.361026,5.423487,5.330396,5.235874,4.685344,4.804436,4.379699,4.669607,4.603332,3.921567
10,Enfield,474.785627,617.996171,630.494955,487.834816,413.891832,436.293548,383.413483,417.155602,420.772209,...,5.572500,6.006187,5.899600,5.239314,4.662697,4.786168,4.180956,4.450960,4.339129,3.835928
11,Greenwich,433.379167,443.815851,428.162155,465.850280,420.119735,456.366179,383.495378,382.903645,317.378938,...,5.479031,5.380386,5.177548,5.193365,4.695160,4.845175,4.200231,4.215294,3.823633,3.775141
12,Hackney,299.176473,314.669425,302.630955,305.324362,271.504805,296.294527,287.370670,357.983074,348.083708,...,4.227318,4.216433,4.031038,3.920282,3.490031,3.645265,3.289510,3.595078,3.422038,3.087976
13,Hammersmith and Fulham,511.382025,537.898472,527.300210,530.890974,501.156329,532.373093,483.806348,517.089119,482.036869,...,6.291224,6.376898,6.180285,6.120857,5.655218,5.915864,5.279948,5.633601,5.447201,4.537349
14,Haringey,295.505339,311.116664,276.395438,317.296826,281.746169,293.521696,262.467306,288.384489,272.034824,...,4.560929,4.522278,4.225781,4.213744,3.723105,3.851091,3.409484,3.570100,3.401112,2.887573
15,Harrow,299.441269,292.270902,286.634363,289.552552,247.060244,252.305104,218.921772,241.777058,218.690592,...,4.570308,4.465081,4.315544,4.251120,3.747600,3.857926,3.382696,3.599218,3.454876,3.040192
16,Havering,315.323947,319.197080,294.059346,295.004227,260.620300,309.304509,251.840490,274.655854,264.343488,...,5.828585,5.857932,5.574196,5.447871,4.988395,5.263537,4.700700,4.884718,4.754147,4.195096
17,Hillingdon,1063.457015,1072.615026,991.351492,1120.255787,927.664157,909.813027,733.038143,930.337903,885.455979,...,9.245247,9.117291,8.625931,8.933246,7.795620,7.721798,6.577479,7.310541,6.999692,5.853502
18,Hounslow,678.421920,718.657462,699.041225,651.676812,598.861079,678.084585,633.338869,667.513333,627.412432,...,7.159996,7.184577,6.834979,6.461689,5.836288,6.122612,5.542386,5.717116,5.430408,4.809478
19,Islington,629.762610,676.932285,655.048125,680.690080,605.128523,644.819956,557.941616,632.597405,576.534576,...,6.464373,6.622859,6.340531,6.352226,5.605157,5.817730,4.957540,5.318097,4.877195,3.971185
20,Kensington and Chelsea,781.656667,820.861058,786.214586,798.832135,732.614783,845.853621,794.338432,814.068586,706.342888,...,8.164421,8.541164,8.367421,8.451252,7.854520,8.796716,8.265588,8.669928,7.890622,7.387157
21,Kingston upon Thames,260.783623,264.625776,262.474408,252.858269,228.438277,236.186246,215.655792,228.765232,222.182639,...,5.827803,5.707772,5.615470,5.443952,4.972328,5.200040,4.623791,4.748926,4.552841,3.991807
22,Lambeth,519.351666,546.328107,524.445533,534.936335,505.778055,527.336653,487.293253,524.130637,516.633319,...,5.091295,5.083995,4.854873,4.790548,4.372232,4.496616,4.006416,4.143688,4.006718,3.429983
23,Lewisham,310.831011,313.049380,302.130538,259.879203,235.059398,246.925993,225.574229,234.921952,219.483656,...,4.586253,4.482095,4.318557,4.040939,3.649104,3.773208,3.370924,3.456723,3.268820,2.826197
24,Merton,290.682257,286.506180,270.517496,360.981105,318.951079,336.774332,299.802105,316.526864,316.822638,...,4.776327,4.657075,4.468656,4.880774,4.369398,4.576713,4.066554,4.252608,4.180647,3.393906
25,Newham,653.080327,752.175841,738.784196,752.184439,732.564703,796.975498,747.442562,752.580694,765.534551,...,5.732581,6.034019,5.765776,5.554988,5.121534,5.192660,4.632809,4.681982,4.561236,3.888126
26,Redbridge,244.886299,242.098644,233.795754,229.691460,208.847560,211.482079,189.422718,206.706711,193.622787,...,4.410615,4.318294,4.150015,3.995304,3.632771,3.720866,3.364873,3.516388,3.347621,2.982429
27,Richmond upon Thames,328.975350,335.791870,328.302556,316.928548,274.388282,280.581215,240.413143,269.343351,260.999078,...,5.795300,5.753125,5.623063,5.514596,4.941923,5.091536,4.493210,4.804218,4.630184,4.081972
28,Southwark,937.716468,959.247736,924.648431,923.726229,789.381887,838.551168,728.760987,849.083534,791.892787,...,6.618261,6.520053,6.259979,6.092841,5.335915,5.547590,4.853813,5.251876,4.892019,3.864442
29,Sutton,247.044319,253.570934,245.826409,258.440858,246.881173,264.027499,224.926430,258.933320,242.342320,...,4.817672,4.801878,4.677023,4.648198,4.282606,4.456417,3.921074,4.191109,3.987975,3.359328
30,Tower Hamlets,1321.817231,1661.547103,1645.653588,1705.960868,1459.748265,1573.785761,1307.649204,1458.519252,1342.380312,...,9.404626,10.771579,10.368821,10.298521,8.740688,9.022856,7.507583,7.948239,7.163361,5.997810
31,Waltham Forest,286.219583,306.860120,276.982953,308.624469,258.119331,280.388820,243.187370,256.724849,243.378135,...,4.377917,4.342651,4.061548,4.048399,3.533983,3.661445,3.176195,3.335173,3.202982,2.911503
32,Wandsworth,531.285928,538.459909,496.933957,417.419264,378.224479,404.532115,355.386230,381.367528,367.662869,...,5.238670,5.046900,4.832668,4.509970,4.032927,4.213424,3.692099,3.917836,3.764033,3.326955
33,Westminster,2529.053452,2712.467157,2603.769502,2676.066718,2337.837288,2480.770902,2224.586608,2429.254628,2304.131454,...,15.160423,16.010262,15.565950,15.930210,14.239474,15.038280,13.383224,14.194349,13.351841,10.724954
35,North East,22050.861669,21336.346263,21163.414065,20258.285840,17186.401059,13963.896430,12352.138765,16957.448496,17142.852784,...,12.133182,11.734450,11.503839,11.010215,9.477210,8.301831,7.319403,9.211095,9.188479,8.054119
36,North West,26876.235518,26194.763768,25587.614984,24997.964998,21558.234677,23098.232261,20826.175423,22508.509596,20648.187382,...,8.680454,8.490649,8.286118,8.073795,7.253703,7.555030,6.858200,7.182033,6.814496,6.020095
37,Yorkshire and the Humber,27934.773545,27727.675645,26811.299185,25598.745102,20943.420570,23158.374185,21837.460130,21404.530428,21633.790416,...,10.454371,10.301639,9.972932,9.556374,8.306724,8.825713,8.192277,8.177953,8.128048,7.299723
38,East Midlands,18496.925144,18347.206566,17407.176260,16965.130894,14826.641898,15817.984829,14501.944204,15023.905170,15189.567132,...,9.591533,9.438647,9.078278,8.782551,7.920726,8.247937,7.556559,7.753055,7.674560,7.050532
39,West Midlands,17898.986633,18158.704296,17738.095649,16792.395376,14444.663711,15295.139646,14185.250683,14639.547815,14451.345940,...,8.375945,8.352236,8.149247,7.803125,7.019261,7.261129,6.693928,6.850731,6.694881,6.116975
40,East,16853.865147,16675.648455,16139.014402,15887.943746,14112.269460,15196.931838,13403.520298,14407.371512,13950.375541,...,8.221346,8.123133,7.905683,7.670751,7.022395,7.284048,6.579112,6.835217,6.634973,5.955381
41,London,20320.741649,21691.118371,20891.023318,21160.008947,18717.338967,19901.249250,17618.561070,19424.432483,18327.542957,...,6.241556,6.326855,6.075271,5.976637,5.333386,5.529985,4.873164,5.158576,4.900430,4.194718
42,South East,24623.153020,24549.925491,23821.064171,22951.555997,20163.854044,20986.009171,18728.103812,19528.047223,18787.107452,...,8.179560,8.075816,7.845911,7.562517,6.871384,7.037174,6.391254,6.573399,6.342170,5.629045
43,South West,15909.324571,15838.369187,15386.257588,14541.785746,12429.730088,12936.904173,11720.854860,12475.284589,12052.043350,...,8.152502,8.081099,7.847392,7.564809,6.836200,7.003878,6.385701,6.599633,6.394651,5.834088
45,England,190964.866896,190519.758041,184944.959622,179153.816645,154382.554473,160354.721783,145174.009246,156369.077312,152182.812953,...,8.531779,8.430594,8.180890,7.905322,7.079407,7.267350,6.595196,6.883564,6.682598,5.966018
47,Northern Ireland,7241.720593,7333.267632,7537.526763,7039.256156,6218.282449,6570.964353,6185.086384,6176.790170,6162.096279,...,9.487987,9.657095,9.638010,9.255429,8.622417,8.952709,8.247287,8.347183,8.297365,7.780931
48,Scotland,21382.264592,21764.011985,21327.691896,20855.602203,18237.032952,19427.789345,18002.372195,18359.486570,17853.194006,...,8.361874,8.349211,8.136277,7.890615,7.017615,7.317536,6.568562,6.745402,6.557330,5.668720
49,Wales,18855.092051,19329.352726,19206.325986,18282.475459,15047.097609,17579.162216,15804.110743,14674.362550,17512.535864,...,11.228738,11.344325,11.100155,10.710038,9.267168,10.200334,9.181795,8.920358,9.731792,9.283575
51,United Kingdom,244649.558947,243923.061357,238540.256977,230790.049701,199214.577959,208471.322139,188754.434791,201045.769839,198238.011724,...,8.763709,8.668343,8.438064,8.155000,7.298350,7.522974,6.809908,7.085160,6.921009,6.251041

In [67]:
locations = emissions['Name']

In [68]:
locations

1               City of London
2         Barking and Dagenham
3                       Barnet
4                       Bexley
5                        Brent
6                      Bromley
7                       Camden
8                      Croydon
9                       Ealing
10                     Enfield
11                   Greenwich
12                     Hackney
13      Hammersmith and Fulham
14                    Haringey
15                      Harrow
16                    Havering
17                  Hillingdon
18                    Hounslow
19                   Islington
20      Kensington and Chelsea
21        Kingston upon Thames
22                     Lambeth
23                    Lewisham
24                      Merton
25                      Newham
26                   Redbridge
27        Richmond upon Thames
28                   Southwark
29                      Sutton
30               Tower Hamlets
31              Waltham Forest
32                  Wandsworth
33                 Westminster
35                  North East
36                  North West
37    Yorkshire and the Humber
38               East Midlands
39               West Midlands
40                        East
41                      London
42                  South East
43                  South West
45                     England
47            Northern Ireland
48                    Scotland
49                       Wales
51              United Kingdom
Name: Name, dtype: object

In [69]:
years = np.arange(2005, 2015)
years
Categories = ['Industry and Commercial','Domestic','Transport','N. LULUCF Net Emissions','Grand Total','Population (\'000s, mid-year estimate)','Per Capita Emissions (t)']

In [70]:
emissions.columns

Index([  'Name',     2005,     2006,     2007,     2008,     2009,     2010,
           2011,     2012,     2013,     2014, '2005.1', '2006.1', '2007.1',
       '2008.1', '2009.1', '2010.1', '2011.1', '2012.1', '2013.1', '2014.1',
       '2005.2', '2006.2', '2007.2', '2008.2', '2009.2', '2010.2', '2011.2',
       '2012.2', '2013.2', '2014.2', '2005.3', '2006.3', '2007.3', '2008.3',
       '2009.3', '2010.3', '2011.3', '2012.3', '2013.3', '2014.3', '2005.4',
       '2006.4', '2007.4', '2008.4', '2009.4', '2010.4', '2011.4', '2012.4',
       '2013.4', '2014.4', '2005.5', '2006.5', '2007.5', '2008.5', '2009.5',
       '2010.5', '2011.5', '2012.5', '2013.5', '2014.5', '2005.6', '2006.6',
       '2007.6', '2008.6', '2009.6', '2010.6', '2011.6', '2012.6', '2013.6',
       '2014.6'],
      dtype='object')

In [71]:
new_columns = ['Location','Year','Category','Value']
new_emissions = pd.DataFrame(columns=new_columns)
new_emissions.head()

Empty DataFrame
Columns: [Location, Year, Category, Value]
Index: []

In [72]:
for i in range(len(emissions[0:5])):
    record = emissions.iloc[i]
    for iy, year in enumerate(years):

        for ic, category in enumerate(Categories):
            
            value = record.iloc[2+iy+(10*ic)]
            new_row = pd.DataFrame([{'Location' :record['Name'],
                        'Year' :year,
                        'Category' : category,
                        'Value' : value}])
            new_emissions = pd.concat([new_emissions,new_row], ignore_index = True)

/var/folders/yd/lkdmgt656_j5ryvq_jdrvywm0000gn/T/ipykernel_22159/1773250618.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  new_emissions = pd.concat([new_emissions,new_row], ignore_index = True)

IndexError: single positional indexer is out-of-bounds

In [66]:
new_emissions

           Location  Year                               Category        Value
0    City of London  2005                               Domestic  1679.706582
1    City of London  2005                Industry and Commercial    20.397841
2    City of London  2005                              Transport    65.146416
3    City of London  2005                N. LULUCF Net Emissions     0.060669
4    City of London  2005  Population ('000s, mid-year estimate)  1765.311507
..              ...   ...                                    ...          ...
245           Brent  2014                               Domestic   616.457177
246           Brent  2014                Industry and Commercial   267.398053
247           Brent  2014                              Transport     1.173763
248           Brent  2014                N. LULUCF Net Emissions  1427.991587
249           Brent  2014  Population ('000s, mid-year estimate)   270.939000

[250 rows x 4 columns]

In [36]:
new_emissions

  Location Year Category Value               0
0      NaN  NaN      NaN   NaN  City of London
1      NaN  NaN      NaN   NaN               l
2      NaN  NaN      NaN   NaN               l

In [37]:
for i, x in enumerate(new_emissions):
    print(i,x)

0 Location
1 Year
2 Category
3 Value
4 0

In [40]:
emissions[0:5]

,Code,Name,2005,2006,2007,2008,2009,2010,2011,2012,...,2005.6,2006.6,2007.6,2008.6,2009.6,2010.6,2011.6,2012.6,2013.6,2014.6
1,E09000001,City of London,1546.381669,1679.706582,1580.466758,1603.958736,1402.027918,1554.734654,1317.152609,1461.040299,...,228.878818,243.356976,218.936877,226.639766,197.586608,222.185954,187.349845,201.597642,184.966847,128.358444
2,E09000002,Barking and Dagenham,396.223474,397.953470,400.882366,399.142772,344.520522,379.972376,330.862589,355.103504,...,5.600614,5.602127,5.473062,5.238514,4.606023,4.769989,4.191221,4.303707,4.063282,3.246635
3,E09000003,Barnet,460.475157,471.990440,442.357543,453.078514,403.114225,426.388167,382.868508,402.606210,...,5.385460,5.371425,5.131500,5.106323,4.577371,4.763128,4.190719,4.362576,4.209762,3.774475
4,E09000004,Bexley,485.075284,481.774032,451.324512,450.499588,397.298485,423.777794,384.494893,409.052128,...,5.778120,5.682690,5.421267,5.329216,4.810446,4.994644,4.459512,4.689267,4.497897,4.063207
5,E09000005,Brent,542.962594,521.416652,545.305836,602.324528,523.885058,464.952868,411.744518,571.269533,...,5.270528,5.053311,4.946347,4.952331,4.345698,4.228279,3.671860,4.279672,4.099577,3.663380

In [48]:
emissions.iloc[2].keys()

Index([  'Code',   'Name',     2005,     2006,     2007,     2008,     2009,
           2010,     2011,     2012,     2013,     2014, '2005.1', '2006.1',
       '2007.1', '2008.1', '2009.1', '2010.1', '2011.1', '2012.1', '2013.1',
       '2014.1', '2005.2', '2006.2', '2007.2', '2008.2', '2009.2', '2010.2',
       '2011.2', '2012.2', '2013.2', '2014.2', '2005.3', '2006.3', '2007.3',
       '2008.3', '2009.3', '2010.3', '2011.3', '2012.3', '2013.3', '2014.3',
       '2005.4', '2006.4', '2007.4', '2008.4', '2009.4', '2010.4', '2011.4',
       '2012.4', '2013.4', '2014.4', '2005.5', '2006.5', '2007.5', '2008.5',
       '2009.5', '2010.5', '2011.5', '2012.5', '2013.5', '2014.5', '2005.6',
       '2006.6', '2007.6', '2008.6', '2009.6', '2010.6', '2011.6', '2012.6',
       '2013.6', '2014.6'],
      dtype='object')

In [42]:
emissions.iloc[0]

Code           E09000001
Name      City of London
2005         1546.381669
2006         1679.706582
2007         1580.466758
               ...
2010.6        222.185954
2011.6        187.349845
2012.6        201.597642
2013.6        184.966847
2014.6        128.358444
Name: 1, Length: 72, dtype: object